/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}


/* Main Content Style */
main{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    height: 94.2vh;
}

a {
    color: #000;
    text-decoration: none;
}

article {
    width: 60%;
    background-color: white ;
}

article> div {
    margin: 30px 20px;
}

article> div> h3 {
    margin: 0 0 10px;
}

article> div> h4 {
    margin: 0 0 px;
}
  
article> div> p {
    text-indent: px;
    margin: 0 0 7px;
}

aside{
    width: 40%;
    background-color: lightgray ;
}


aside> div {
    margin: 30px 20px;
}

aside> div> h3{
    margin: 10px 0 10px;
}

aside> div> h2 {
    margin: 0 0 20px;
}

aside> div> p {
    margin: 0 0 20px;
}

aside>div>a {
    display: block;
}


img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 150px;
}


/* Footer Content Style */
footer{
    background-color: white;
    padding: 10px 0;
}

footer> p {
    text-align: center;
    color: black;
}